<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <p>
    Hi there, we thought you should know that your friend,
    <%= @sharer.email %>, has revoke sharing privileges of their utilities with you :/
  </p>
</body>
</html>
